<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd">
    <context:property-placeholder location="classpath:application.properties"/>

    <bean id="telegram" class="org.example.model.Telegram">
        <property name="userName" value="${Telegram.userName}"/>
        <property name="phoneNumber" value="${Telegram.phoneNumber}"/>
        <property name="contacts">
            <list>
                <value>${Telegram.contacts}</value>
            </list>
        </property>
    </bean>
    <bean id="whatsapp" class="org.example.model.WhatsApp">
        <property name="login" value="${WhatsApp.login}"/>
        <property name="status" value="${WhatsApp.status}"/>
        <property name="contacts">
            <list>
                <value>${WhatsApp.contacts}</value>
            </list>
        </property>
    </bean>
    <bean id="mobilePhone" class="org.example.model.MobilePhone">
        <constructor-arg name="brand" value="${Mobile.brand}" />
        <constructor-arg name="memory" value="${Mobile.memory}"/>
        <constructor-arg name="messenger" ref="whatsapp"/>
    </bean>
</beans>